/* Poppins 100 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Poppins 200 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Poppins 300 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Poppins 400 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Poppins 600 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Poppins 700 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Poppins 800 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Poppins 900 */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 100 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansThinIt.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 300 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansLightIt.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 400 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansRegularIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 500 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansMediumIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 700 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansBoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Guardian Sans 900 */
@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guardian Sans";
  src: url("../fonts/guardiansans/GuardianSansBlackIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
